<header>
   <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
	<div class="container-fluid">
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

			<a class="fab fa-2x fa-artstation justify-content-left" href="" id="logo"><span class="art-logo"> THE ARTS HAUS</span></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
				<span class="navbar-toggler-icon"></span>
			</button>

			<div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link text-primary" href="./sign-up">Sign Up</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-primary" data-toggle="modal"(click)="openSignInModal()">Sign In</a>
					</li>
					<li class="nav-item dropdown" ngbDropdown>
						<a class="nav-link dropdown-toggle text-primary" ngbDropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
						<div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
							<a class="dropdown-item" ngbDropdownItem href="./profile-view">Profile Page</a>
							<a class="dropdown-item" ngbDropdownItem data-toggle="modal"(click)="openUpdateProfileModal()">Update Profile</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link text-primary" data-toggle="modal" (click)="openAddImageModal()">Add Image</a>
					</li>

				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
	</div>

</header>

<!--<sign-in-form> </sign-in-form>-->


<!--Non footers above please-->
<router-outlet></router-outlet>

<footer>
	<div class="container-fluid pt-5">
		<div class="fixed-bottom d-flex justify-content-around row py-2 text-white text-center bg-dark" id="footerRow">

			<a href="https://www.facebook.com/The-Arts-Haus-379835622596932/?modal=admin_todo_tour" target=”_blank” class="fab fa-2x fa-facebook-square" alt="Facebook (Image courtesy of facebook.com)" title="Facebook (Image courtesy of facebook.com)">
			</a>

			<a href="" target=”_blank” class="fab fa-2x fa-twitter" alt="Twitter (Image courtesy of twitter.com)" title="Twitter (Image courtesy of twitter.com)"></a>

			<footer class="text-primary">&copy; Art Haus 2019</footer>

		</div>
	</div>
</footer>


