<!--&lt;!&ndash; Sign In Modal &ndash;&gt;-->
<!--<div class="modal fade" id="signInModalOne" tabindex="-1" role="dialog" aria-labelledby="signInModal" aria-hidden="true">-->
	<!--<div class="modal-dialog" role="document">-->
		<!--<div class="modal-content">-->
			<!--<div class="modal-header">-->
				<!--<h5 class="modal-title" id="signInModalTwo">Please Sign In</h5>-->
				<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
				<!--<span aria-hidden="true">&times;</span>-->
				<!--</button>-->
			<!--</div>-->

			<!--<div class="modal-body">-->
				<!--<form (submit)="createSignIn();" [formGroup]="signInForm" class="form-control-lg" id="signInForm" method="post" name="signInForm" novalidate>-->

				<!--<div class="info">-->
					<!--&lt;!&ndash;Email&ndash;&gt;-->
					<!--<input class="form-control" formControlName="email" id="email" type="email" name="email" placeholder=" Email" />-->
					<!--<div *ngIf="signInForm.controls.email?.invalid && signInForm.controls.email?.touched" class="alert alert-danger">-->
						<!--<p *ngIf="signInForm.controls.email?.errors.required">The email is incorrect.</p>-->
					<!--</div>-->

					<!--&lt;!&ndash;Password&ndash;&gt;-->
					<!--<input class="form-control" formControlName="password" id="password" type="text" name="password" placeholder=" Password" />-->
				<!--</div>-->
				<!--<div *ngIf="signInForm.controls.password?.invalid && signInForm.controls.password?.touched" class="alert alert-danger">-->
					<!--<p *ngIf="signInForm.controls.password?.errors.required">The password is incorrect.</p>-->
				<!--</div>-->

				<!--</form>-->
				<!--&lt;!&ndash;TODO the working example from ABQ At Night has class of "control" in following div and then the value of "Submit". &ndash;&gt;-->
				<!--<div class="modal-footer">-->
					<!--<input class="btn btn-info" type="submit" value="Sign In" />-->
				<!--</div>-->

			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;End of the sign-in modal&ndash;&gt;-->