<main>

	<div class="container">

   <div class="container bg-secondary h-100 mt-5 pt-5">
      <div class="jumbotron jumbotron-fluid">
         <div class="container">
            <h1 class="display-4">Welcome to the Arts Haus!</h1>
            <p class="lead">Enjoy the amazing art from local artists!<br/><br/>Sign in to share your own art and applaud art you want to support.</p>
         </div>
      </div>
   </div>

	</div>

	<div class="container-fluid">
		<div class="row">

			<div class="sm-col-4 col-3 p-1">
				<div class="card bg-primary">
					<div class="card-body">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553031946/kz1ig5rjiiutxmsxu3fd.jpg" class="card-img" width="200px" height="200px" alt="">
					</div>
				</div>
			</div>

			<div class="sm-col-4 col-3 p-1">
				<div class="card bg-primary">
					<div class="card-body">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553031946/kz1ig5rjiiutxmsxu3fd.jpg" class="card-img" width="200px" height="200px" alt="">
					</div>
				</div>
			</div>

			<div class="sm-col-4 col-3 p-1">
				<div class="card bg-primary">
					<div class="card-body">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553031946/kz1ig5rjiiutxmsxu3fd.jpg" class="card-img" width="200px" height="200px" alt="">
					</div>
				</div>
			</div>

			<div class="sm-col-4 col-3 p-1">
				<div class="card bg-primary">
					<div class="card-body">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553031946/kz1ig5rjiiutxmsxu3fd.jpg" class="card-img" width="200px" height="200px" alt="">
					</div>
				</div>
			</div>

			<div class="sm-col-4 col-3 p-1">
				<div class="card bg-primary">
					<div class="card-body">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553031946/kz1ig5rjiiutxmsxu3fd.jpg" class="card-img" width="200px" height="200px" alt="">
					</div>
				</div>
			</div>

			<div class="sm-col-4 col-3 p-1">
				<div class="card bg-primary">
					<div class="card-body">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553031946/kz1ig5rjiiutxmsxu3fd.jpg" class="card-img" width="200px" height="200px" alt="">
					</div>
				</div>
			</div>

			<div class="sm-col-4 col-3 p-1">
				<div class="card bg-primary">
					<div class="card-body">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553031946/kz1ig5rjiiutxmsxu3fd.jpg" class="card-img" width="200px" height="200px" alt="">
					</div>
				</div>
			</div>

			<div class="sm-col-4 col-3 p-1">
				<div class="card bg-primary">
					<div class="card-body">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553031946/kz1ig5rjiiutxmsxu3fd.jpg" class="card-img" width="200px" height="200px" alt="">
					</div>
				</div>
			</div>

			<div class="sm-col-4 col-3 p-1">
				<div class="card bg-primary">
					<div class="card-body">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553031946/kz1ig5rjiiutxmsxu3fd.jpg" class="card-img" width="200px" height="200px" alt="">
					</div>
				</div>
			</div>

			<div class="sm-col-4 col-3 p-1">
				<div class="card bg-primary">
					<div class="card-body">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553031946/kz1ig5rjiiutxmsxu3fd.jpg" class="card-img" width="200px" height="200px" alt="">
					</div>
				</div>
			</div>

			<div class="sm-col-4 col-3 p-1">
				<div class="card bg-primary">
					<div class="card-body">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553031946/kz1ig5rjiiutxmsxu3fd.jpg" class="card-img" width="200px" height="200px" alt="">
					</div>
				</div>
			</div>

			<div class="sm-col-4 col-3 p-1">
				<div class="card bg-primary">
					<div class="card-body">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553031946/kz1ig5rjiiutxmsxu3fd.jpg" class="card-img" width="200px" height="200px" alt="">
					</div>
				</div>
			</div>

			</div>
	</div>

</main>
