<main>
   <div class="container-fluid bg-secondary h-100 mt-5 pt-5">
      <div class="jumbotron jumbotron-fluid">
         <div class="container">
            <h1 class="display-4">Welcome to the Arts Haus!</h1>
            <p class="lead">Enjoy the amazing art from local artists!<br/><br/>Sign in to share your own art and applaud art you want to support.</p>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="sm-col-6 col-4">
         <div class="card bg-primary">
            <div class="card-body">
               <h5 class="card-title">Art!</h5>
                            <p class="card-text">{{image.imageTitle}}</p>
            </div>
         </div>
      </div>
      <div class="col-6">
         <div class="card-columns">
            <div class="card card-images d-inline" *ngFor="let image of images">

               <img [src]="image.imageUrl" class="card-img" width="200px" height="200px" alt="">
            </div>
         </div>
      </div>
   </div>

</main>
