<main>

	<div class="container">

   <div class="container bg-white h-100 mt-5 pt-5">
      <div class="jumbotron jumbotron-fluid bg-primary">
         <div class="container">
            <h1 class="display-4"><strong>Welcome to the Arts Haus!</strong></h1>
					<br/>
				<p class="lead"><strong>Enjoy the amazing art from local artists!<br/><br/>Sign in to share your own art and applaud art you want to support.</strong></p>
         </div>
      </div>
   </div>

	</div>

	<div class="container-fluid">
		<div class="row">

			<div class="sm-col-4 col-3 my-3">
				<div class="card bg-primary">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553093408/the-long-road-to-santa-fe-art-west.jpg" class="card-img"  alt="">
				</div>
			</div>

			<div class="sm-col-4 col-3 my-3">
				<div class="card bg-primary">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553093408/sl_brad-smith-woman-portrait-1.jpg" class="card-img" width="200px" height="200px" alt="">
				</div>
			</div>

			<div class="sm-col-4 col-3 my-3">
				<div class="card bg-primary">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553093408/Bradley_Dream.jpg" class="card-img" width="200px" height="200px" alt="">
				</div>
			</div>

			<div class="sm-col-4 col-3 my-3">
				<div class="card bg-primary">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553093408/images.jpg" class="card-img" width="200px" height="200px" alt="">
				</div>
			</div>

			<div class="sm-col-4 col-3 my-3">
				<div class="card bg-primary">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553093409/Upper_Glen_Canyon_Viewpoint.75151058_std.jpg" class="card-img" width="200px" height="200px" alt="">
				</div>
			</div>

			<div class="sm-col-4 col-3 my-3">
				<div class="card bg-primary">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553093408/Somers_Genesis.jpg" class="card-img" width="200px" height="200px" alt="">
				</div>
			</div>

			<div class="sm-col-4 col-3 my-3">
				<div class="card bg-primary">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553093408/images_1.jpg" class="card-img" width="200px" height="200px" alt="">
				</div>
			</div>

			<div class="sm-col-4 col-3 my-3">
				<div class="card bg-primary">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553093408/artist_1_gallery_1467668100.jpg" class="card-img" width="200px" height="200px" alt="">
				</div>
			</div>

			<div class="sm-col-4 col-3 my-3">
				<div class="card bg-primary">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553093408/8773593.0.jpg" class="card-img" width="200px" height="200px" alt="">
				</div>
			</div>

			<div class="sm-col-4 col-3 my-3">
				<div class="card bg-primary">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553093408/481_l.jpg" class="card-img" width="200px" height="200px" alt="">
				</div>
			</div>

			<div class="sm-col-4 col-3 my-3">
				<div class="card bg-primary">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553094252/https___cdn.evbuc.com_images_54673390_228410231318_1_original.jpg" class="card-img" width="200px" height="200px" alt="">
				</div>
			</div>

			<div class="sm-col-4 col-3 my-3">
				<div class="card bg-primary">
						<img src="https://res.cloudinary.com/drfjidr03/image/upload/v1553094252/1645445-EAMGUYXE-7.jpg" class="card-img" width="200px" height="200px" alt="">
				</div>
			</div>

			</div>
	</div>

</main>
