<?xml version="1.0" encoding="UTF-8"?>

<phpunit>
	<testsuites>
		<testsuite name="ArtHaus-Test">
      <file>TestApplaud.php</file>
			<file>TestGallery.php</file>
       <file>TestImage.php</file>
      <file>TestProfile.php</file>
		</testsuite>
	</testsuites>
	<filter>
		// Whitelist processes tests on all files with the directory suffix specified //
		<whitelist processUncoveredFilesFromWhitelist="true">-->
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>
