<main>
	<!--google font import:-->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	<div class="container bg-white h-100 mt-5 pt-5">

		<!--JUMBOTRON:-->
		<div class="jumbotron jumbotron-fluid bg-primary">
			<div class="container">
				<h1 class="display-4"><strong>Welcome back to the Arts Haus!</strong></h1>
				<h2 class="display-4">{{ profile.profileName }}</h2>
				<p class="lead">{{ profile.profileEmail }}<br />{{ profile.profileWebsite }}</p>
			</div>
		</div>

	</div>

	<div class="container-fluid d-flex justify-content-center">

		<div class="row">
			<div class="card-columns">
				<div class="card card-images rounded" *ngFor="let image of images">

					<img [src]="image.imageUrl" class="card-img" alt="">
				</div>
			</div>
		</div>

	</div>


	<!--TODO For image polaroid style. Future use, please do not delete-->

	<!--<div class="container-fluid">-->
	<!--<div class="pics-wrapper border d-flex justify-space-between p-3 my-3">-->
	<!--<div class="row pb-5">-->

	<!--<div class="card card-images d-flex mt-0 pt-3 py-3 my-3 mb-5 pb-5 shadow-none" *ngFor="let image of images">-->

	<!--<img [src]="image.imageUrl" class="card-img pb-5" width="200px" height="200px" alt="">-->
	<!--</div>-->

	<!--</div>-->
	<!--</div>-->
	<!--</div>-->

</main>