<!--<main>-->

	<!--<div class="container-fluid bg-secondary h-100">-->

		<!--&lt;!&ndash;JUMBOTRON:&ndash;&gt;-->
		<!--<div class="jumbotron jumbotron-fluid">-->
			<!--<div class="container">-->
				<!--<h1 class="display-4">{{ profile.profileName }}</h1>-->
				<!--<p class="lead">{{ profile.profileEmail }}<br/>{{ profile.profileWebsite }}</p>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;CAROUSEL BAR:&ndash;&gt;-->
		<!--<div class="carousel-bar containter-fluid">-->

			<!--&lt;!&ndash;CAROUSEL:&ndash;&gt;-->
			<!--<div id="carousel" class="carousel slide bg-dark" data-ride="carousel">-->
				<!--<div class="carousel-inner">-->
					<!--&lt;!&ndash;GALLERY 1:&ndash;&gt;-->
					<!--<div class="carousel-item active">-->
						<!--<img class="d-block w-100" src="../ng/src/assets/img/sample-image-1.jpg" alt="First slide">-->
						<!--<div class="carousel-caption mx-auto bg-dark">-->
							<!--<h5>{{ gallery.galleryName }}</h5>-->
						<!--</div>-->
					<!--</div>-->
					<!--&lt;!&ndash;GALLERY 2:&ndash;&gt;-->
					<!--<div class="carousel-item">-->
						<!--<img class="d-block w-100" src="../ng/src/assets/img/sample-image-2.jpg" alt="Second slide">-->
						<!--<div class="carousel-caption mx-auto bg-dark">-->
							<!--<h5>{{ gallery.galleryName }}</h5>-->
						<!--</div>-->
					<!--</div>-->
					<!--&lt;!&ndash;GALLERY 3:&ndash;&gt;-->
					<!--<div class="carousel-item">-->
						<!--<img class="d-block w-100" src="../ng/src/assets/img/sample-image-3.jpg" alt="Third slide">-->
						<!--<div class="carousel-caption mx-auto bg-dark ">-->
							<!--<h5>{{ gallery.galleryName }}</h5>-->
						<!--</div>-->
					<!--</div>-->
					<!--&lt;!&ndash;CONTROLS, PREVIOUS:&ndash;&gt;-->
					<!--<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">-->
						<!--<span class="carousel-control-prev-icon text-muted" aria-hidden="true"></span>-->
						<!--<span class="sr-only text-muted">Previous</span>-->
					<!--</a>-->
					<!--&lt;!&ndash;CONTROLS, NEXT:&ndash;&gt;-->
					<!--<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">-->
						<!--<span class="carousel-control-next-icon text-muted" aria-hidden="true"></span>-->
						<!--<span class="sr-only text-muted">Next</span>-->
					<!--</a>-->

				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<!--&lt;!&ndash;Closes main container&ndash;&gt;-->
	<!--</div>-->

<!--</main>-->
