<div class="modal-header">
	<h4 class="modal-title">Add An Image!</h4>
	<button type="button" class="close" aria-label="Close" (click)="closeModalButton()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">

	<form (submit)="createImage();" [formGroup]="imageCreateForm" class="form-control-lg" id="addImageForm" method="post" name="addImageForm" novalidate>

		<div class="info">
			<!--Email-->
			<input class="form-control" formControlName="title" id="title" type="text" name="title" placeholder=" Title" />

			<div *ngIf="imageCreateForm.title?.invalid && imageCreateForm.controls.title?.touched" class="alert alert-danger">
				<p *ngIf="imageCreateForm.controls.title?.errors.required">Image title is incorrect.</p>
			</div>
		</div>

		<button type="submit" class="btn btn-outline-dark">Add Image</button>

	</form>

</div>

