/*PROFILE VIEW:*/
.carousel-caption {
  opacity: .75;
  height: 4rem;
	/*margin-bottom: 0px !important;*/
}

.carousel-inner {
	max-width: 60%;
	margin: auto;
}

.carousel-item {

}

img {
  height: 27rem;
	width: 27rem;
  object-fit: cover;
	/*padding: 0rem;*/
}

.jumbotron,
.jumbotron-fluid {
  margin-top: 5.5rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/*NAVBAR:*/


/*FOOTER*/
