/*PROFILE VIEW:*/

.carousel-inner {
	max-width: 60%;
	margin: auto;
}

.carousel-item {

}

.carousel-caption {
	opacity: .75;
	height: 4rem;
	width: 15rem;
}

img {
  height: 27rem;
	width: auto;
  object-fit: contain;

}

.jumbotron,
.jumbotron-fluid {
  margin-top: 5.5rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/*NAVBAR:*/


/*FOOTER*/
