/* You can add global styles to this file, and also import other style files */

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

/*HEADER:*/
.art-logo {
	font-family: 'Montserrat Subrayada', sans-serif;
	text-decoration: none !important;
}

.logo-wrapper{
	text-decoration: none !important;
}

.navbar-toggler {
	outline: none !important;
}

#logo img {
	height: 25px;
}

.navbar {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*JUMBOTRON:*/
.jumbotron {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}

.jumbotron h1, .jumbotron p {
	font-family: "Raleway", sans-serif;
}

/*SPLASH*/
.pics-wrapper {
	display: flex;
	justify-content: center !important;
	align-items: center !important;
}

.pics-wrapper .row {
	justify-content: center;
	margin-top: 0 !important;
}

.card {
	height: 350px;
	width: 350px;
	padding: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	justify-content: center;
	align-items: center;

}

.card-body {

}

.card img {
	max-height: 300px;
	width: 300px;
	/*display: block;*/
	margin-top: 0 !important;

	}


