/* You can add global styles to this file, and also import other style files */

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");

/*HEADER:*/
.art-logo {
	font-family: 'Montserrat Subrayada', sans-serif;
	text-decoration: none !important;
}

.logo-wrapper{
	text-decoration: none !important;
}

.navbar-toggler {
	outline: none !important;
}

/*PROFILE VIEW:*/

.carousel-inner {
	margin: auto;
}

/*@media only screen and (max-width: 550px){*/

.carousel-item {

}

.carousel-caption {
	opacity: .75;
	height: 4rem;
	width: 15rem;
}

img {
	height: 29rem;
	width: auto;
	object-fit: contain;
	margin-top: 1rem;
}

.row {
	margin-right: 0;
	margin-left: 0;
}
/*NAVBAR:*/

/*FOOTER*/

/*SPLASH*/

.card {
	height: 350px;
	width: 350px;
	padding: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	justify-content: center;
	align-items: center;

}

.card-body {

}

.card img {
	max-height: 300px;
	width: 300px;
	/*display: block;*/
	margin-top: 0 !important;

	}

#logo img {
	height: 25px;
}

.navbar {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	}
/*!*Fixes for Brandon's (Doesn't work, also to test add the class container-brandon to the appropriate div)*!*/
/*.container-brandon {*/
	/*margin-bottom: 5rem !important;*/
/*}*/
/*.jumbotron {*/
	/*padding-bottom: 5rem !important;*/
/*}*/